body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(235, 180, 140);
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.pockemon-picture{
    display: none;
}
.pockemonAPI__title {
font-size: 46px;
text-align: center;
}
.input-box{
    display: flex;
    max-width: 800px;
    justify-content: center;
}
.pockemon-input {
    max-width: 400px;
    border-radius: 20px;
    background-color: rgb(152, 170, 185);
    border: 2px solid rgb(167, 195, 225);
    padding-left: 20px;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.fetch-button {
    width: 200px;
    height: 30px;
    border: 2px solid rgb(167, 195, 225);
    background-color: rgb(152, 170, 185);
    border-radius: 20px;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.pockemon-picture {
    width: 200px;
    height: 200px;
}
.pockemon__wieght {
    max-width: 200px;
    margin:20px ;
}
.pockemon__type {
    max-width: 200px;
}
.error-text {
    display: none;
    font-size: 36px;
}